{{#partial "content"}}
    <section class="new-animal-cont">
        <a href="/" class="redirect">Home</a>
        <section class="normal-species " id="normal">
            <h3>Normal Animal</h3>
            <form action="/new/animal" method="post">
                <input type="text" name="id" id="" placeholder="Animal Id" required><br><br>
                <input type="text" name="name" id="" placeholder="Name" required><br><br>
                <input type="submit" class="btn light">
            </form>
        </section>
    </section>
{{/partial}}
{{> layouts.hbs}}