<!DOCTYPE html>
<html>
<head>
    <title>{{#block "wildlife"}}{{/block}}</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Libre+Baskerville|Modak&display=swap" rel="stylesheet">
</head>
<body style=";">

<style>
body {background:url(/images/);
background-repeat: no-repeat;
width:100%;
background-position:center;
background-size: cover;
height:100%
font-family: 'Libre Baskerville', serif;}
li{ font-weight:bolder; text-align:right;background-color:rgba(255,255,255);
}
footer{padding-top:100px;background-color:rgba(0,0,0,0.5);}
h1{ font-size:60px;background-color:rgba(0,190,209,0.4);
    font-family: 'Libre Baskerville', serif;
    font-family: 'Modak', cursive;
    font-family: 'Abril Fatface', cursive;
 font-weight:bolder;color:black;}
 p{
 color:black;font-size:13px;
 }
</style>
<div>

</div>

<section class="land-page" id="land" style="text-align:center">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href="/animal/new">Register Animal</a></li>
        <li role="presentation"><a href="/endangered/new">Endangered animals</a></li>
        <li role="presentation"><a href="/sighting">Discovered sightings</a></li>
        <li role="presentation"><a href="/registry">View Registry</a></li>
        <li role="presentation" class="dropdown">
        </li>
        <img src="/images/zebra.jpg">
    </ul>

    <div class="container">
        <!--begin main template-->
        <div class="page-header">
            <h1>Welcome to the wild.</h1>
        </div>

        <div class="col-md-12">
            {{#block "content"}}
            {{/block}}

        </div>
    </div>
    <!--end main template-->
{{#block "footer"}}
        <footer class="footer">
            <div class="container">
                <hr>
                <p>Contact information: <a href="wildlifeconservancy.com">
                    wildlifeconservancy@gmail.com</a>.</p>
            </div>
        </footer>
    </section>

    </body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </html>
{{/block}}
</html>