{{#partial "content"}}
<form action="/new/sighting" method="post">
    <select name="selectedAnimal" required>
        <option value="">Choose Animal</option><br><br>
        <option value="1">Rhino</option><br><br>
        {{#each   allAnimals}}
            <option value="{{id}}">{{animalName}}</option><br><br>
        {{/each}}
        {{#each allEndangered}}
            <option value="{{id}}">{{animal_sighted}}</option><br><br>
        {{/each}}

    </select>
    <input type="text" name="animal_location" id="" placeholder="Location" required><br><br>
    <input type="text" name="ranger_name" id="" placeholder="Ranger Name" required><br><br>
    <input type="submit" class="btn light">
</form>
</div>
{{/partial}}
{{> layouts.hbs}}