{{#partial "content"}}

    <section class="success-cont">
        <div class="success">
            {{#if newSighting}}
                <p>Great!! Animal Spotted </p>
                <p>Location: {{newSighting.animal_location}}</p>
            {{else}}
                <p>{{new.ranger_name}} <br> Animal Added Successfully</p>
            {{/if}}

            <a href="/registry" class="btn">View in the reistry</a>
        </div>
    </section>

{{/partial}}
{{> layouts.hbs}}